<!-- ADMIN FIXED NAVBAR -->
<div class="admin-subnav">

    <a href="#!/admin-dashboard"
       ng-class="{'active-link': isActive('/admin-dashboard')}">
       Dashboard
    </a>

    <a href="#!/admin-users"
       ng-class="{'active-link': isActive('/admin-users')}">
       Users
    </a>

    <a href="#!/admin-recruiters"
       ng-class="{'active-link': isActive('/admin-recruiters')}">
       Recruiters
    </a>

    <a href="#!/admin-jobs"
       ng-class="{'active-link': isActive('/admin-jobs')}">
       Jobs
    </a>

    <a href="#!/admin-skills"
       ng-class="{'active-link': isActive('/admin-skills')}">
       Skills
    </a>

</div>